body {
  background-color: rgb(216, 163, 180);
}

.project-card {
  display: flex;
  margin-bottom: 20px;
}

.project-image img {
  width: 150px; /* Adjust the width as needed */
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.project-details {
  flex: 1;
}

.language-icons {
  display: flex;
  gap: 5px; /* Adjust the gap between language icons */
}

.language-icons img {
  width: 20px; /* Adjust the width of language icons */
  height: auto;
}
