.container {
  width: 100%;
  height: auto;
  background-size: cover;
  position: relative;
  background-color: #111827f3
}
.member-card {
  width: 16rem;
  height: auto;
  background-color: #81a2c5;
  border: 1px solid rgba(39, 55, 94, 0.5);
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  margin: 1rem;
  transition: transform 0.3s ease-in-out;
}

.member-card:hover {
  transform: scale(1.05);
}
.exceutive {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -40px;
}
.profile-image {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border: 1px solid rgba(39, 55, 94, 0.9);
  border-radius: 50%;
  overflow: hidden;
}

.member-name {
  text-align: center;
  font-size: 23px;
}
.member-post {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: #4a4d50;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: -23px;
}

.social-links li {
  margin-left: 40px;
}

.social-links a img {
  width: 24px;
  height: auto;
}
