:root {
    --logo-text: #1ebc73;

    --awards-background: #212121;
    --awards-text: #fefefe;

    --contacts-background: #212121;
    --contacts-text: #fefefe;

    --account-background: #121212;
}

/* screens */
@media screen and (min-width: 800px) {
    .formatting-separator {
        height: 100px;
    }
}

body {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #ffcccc;
}

header {
    position: fixed;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(151, 31, 31);
    font-size: 18px;
    color: #fff;
    padding: 10px;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

nav ul li {
    margin-right: 20px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

nav a:hover {
  color: rgb(63, 13, 13); /* Change color on hover for better interactivity */
}

section {
    padding: 50px;
    text-align: center;
}

.hero-btn-learn,
.hero-btn-join {
    background-color: rgb(133, 31, 31);
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.join-us {
  background-color: rgb(100, 17, 17);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  justify-content: center;
  /*align-self: center;*/
  padding: 8px 16px;
  margin-right: 10px;
}

.admin-login img {
  margin-right: 5px; /* Added margin to separate icon from text */
}

section p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.event {
    margin-bottom: 50px;
}

footer {
    background-color: #461010;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#home {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    transition: background 0.5s ease; 
}

#home h1 {
  padding-top: 100px;
  font-size: 55px;
  color: #F9FAFB;
}
#home p {
  font-size: 26px;
  margin-top: -30px;
  color: yellow;
}
#home span {
  font-size: 30px;
  display: block;
  margin-top: 20px;
}
#home a {
  font-size: 20px;
  border-radius: 5px;
  padding: 12px 16px;
  font-weight: bold;
}
.hero-btn-join {
  background-color: transparent;
  border: 2px rgb(133, 31, 31) solid;
  color: rgb(100, 5, 5);
}
.socials {
  margin-top: 30px;
  padding-left: 5px;
}
.home-container {
  position: relative;
}
.nav-button1,
.nav-button2 {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  border: none;
  border-radius: 10px;
  color: #333;
  font-size: 20px;
  padding: 9px 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;
}
.nav-button1 {
  left: -40px; /* Adjust the left distance as needed */
}

.nav-button2 {
  right: 60px; /* Adjust the right distance as needed */
}

.nav-button:hover {
  background: rgba(255, 255, 255, 0.8); /* Darker background on hover */
}
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

#about {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.about-heading {
  margin-top: 100px;
  display: inline-block;
  background-color: #b0e2c754;
  color:#00853e;
  padding: 10px 20px;
  border-radius: 50px;
}

#events {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}

#projects {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}

#team {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}

#resources {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}

#contact {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}



.projects {
    background: white;
    padding: 3rem 0;

    h2,
    h2 span {
        text-align: center;
        margin-bottom: 3rem;
        font-weight: bold;
    }

    .project-row {
        display: flex;
        margin-bottom: 3rem;

        .project-left {
        width: 50%;
        margin-right: 2rem;
        img {
            width: 100%;
            border: 1px solid lightgray;
        }
        }
        .project-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-size: 1.25rem;
        }

        .tech-stack-list {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin-top: 1rem;

            p {
            margin-right: 1rem;
            }

            li {
            margin-right: 20px;
            font-size: 1.5rem;
            }
        }

        .project-links {
            margin-top: 1rem;
        }
        }

        #webscraper {
        background-image: url("../img/top10songs.JPG");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        -webkit-transition: background-image 0.2s ease-in-out;
        transition: background-image 0.2s ease-in-out;
        }

        #webscraper:hover {
        background-image: url("../img/top10songs.gif");
        }
    }
}
  
  @media screen and (max-width: 860px) {
    .projects {
      .project-row {
        display: flex;
        margin-bottom: 3rem;
        flex-direction: column;
        .project-left {
          width: 100%;
        }
        .project-right {
          width: 100%;
        }
      }
    }
  }
  
  @media screen and (max-width: 500px) {
    .project-left {
      min-height: 200px;
    }
  }
  
  @media screen and (min-width: 501px) and (max-width: 700px) {
    .project-left {
      min-height: 300px;
    }
  }
  
  @media screen and (min-width: 701px) and (max-width: 859px) {
    .project-left {
      min-height: 350px;
    }
  }
  







